.compose_page { height: 100%; min-height: 400px; background-color: #fff; width: 100%; }
.compose_form { position: relative; display: block; padding: 20px; width: 80%; padding-left: 30px; }
.compose_bcc, .compose_cc, .compose_subject, .compose_to { padding: 5px; margin: 5px; width: 100%; }
/*.compose_to { width: calc(100% - 25px); }*/
.toggle_recipients { background-color: #fff; position: absolute; padding-left: 5px; right: 9px; top: 28px; font-size: 120%; }
.compose_body { width: 100%; min-height: 300px; padding: 5px; margin: 5px; }
.smtp_send { color: #666; font-size: 125%; padding: 10px; margin-top: 10px; }
.smtp_section { display: none; }
.smtp_server_setup .content_title { cursor: pointer; }
.compose_server, .compose_server option { width: 100%; padding: 5px; margin: 5px; }
.smtp_reset { float: right; margin-top: 10px; }
.ke-container { margin-left: 5px !important; border-radius: 3px 3px 3px; margin-top: 5px !important; margin-bottom: 5px !important; padding-right: 0px !important; }
.recipient_fields { display: none; }
.compose_attach_file { opacity: 0; }
.compose_attach_button { float: right; margin-right: 20px; margin-top: 10px; }
.uploaded_files { width: 1%;  margin-left: 5px; }
.uploaded_files td { padding-right: 10px; white-space: nowrap; }
.uploaded_files img { opacity: .4; }
