.tag_icon { position: absolute; right: 50px; top: 15px; }
.mobile .tag_icon { display: none; }
.tags_action_btn { width: 30px !important; height: 30px !important; }
.mr-4 { margin-right: 4px !important; }
.tag_setting { display: none; }
