.folders_page { margin: 20px; }
.folder_dialog { margin-left: 40px; margin-top: 10px; margin-bottom: 30px; }
.folder_dialog input { display: inline-block; margin-top: 15px; }
.sent_folder_select, .draft_folder_select, .trash_folder_select, .folder_dialog, .delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .parent_folder_select, .archive_folder_select { display: none; }
.draft_folder_select, .sent_folder_select, .trash_folder_select, .delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .parent_folder_select, .archive_folder_select { width: 215px; position: absolute; background-color: #fff; padding: 15px; border: solid 1px #ede8e6; font-weight: normal; padding-left: 10px; min-width: 55px; padding-top: 10px; margin-left: 0px !important; margin-top: 0px; }
.folder_row { margin-top: 15px; }
.close { margin-left: 10%; font-size: 100%; color: teal !important; }
.sp_folder_title { font-size: 110%; color: #777; }
.sp_description { padding-bottom: 20px; }
#draft_val, #sent_val, #trash_val { padding-left: 20px; }
.manage_folder_icon { vertical-align: -3px; opacity: .3 }
.manage_folder_link { color: #999 !important; }
