/* .folder_dialog { margin-left: 40px; margin-top: 10px; margin-bottom: 30px; } */
/* .folder_dialog input { display: inline-block; margin-top: 15px; } */
.sent_folder_select, .draft_folder_select, .trash_folder_select, .folder_dialog, .delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .parent_folder_select, .archive_folder_select, .junk_folder_select { display: none; }
.draft_folder_select, .sent_folder_select, .trash_folder_select, .delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .parent_folder_select, .archive_folder_select { width: fit-content; position: absolute; background-color: #fff; padding: 15px; border: solid 1px #ede8e6; font-weight: normal; padding-left: 10px; min-width: 55px; padding-top: 10px; margin-left: 0px !important; margin-top: 0px; }
.delete_folder_select, .rename_folder_select, .rename_parent_folder_select, .sent_folder_select, .archive_folder_select, .draft_folder_select, .trash_folder_select, .junk_folder_select, .parent_folder_select { z-index: 10; }
.folder_row { margin-top: 15px; }
.close { margin-left: 10%; font-size: 100%; color: teal !important; }
.sp_folder_title { font-size: 110%; color: #777; }
/* .sp_description { padding-bottom: 20px; } */
#draft_val, #sent_val, #trash_val, #junk_val { padding-left: 20px; }
.manage_folder_icon { vertical-align: -3px; opacity: .3 }
.manage_folder_link { opacity: 0.6; }

.folder_subscription_btn { position: absolute; right: 20px; top: 20px; }
.folders_subscription { padding-left: 10px; width: 100%; display: inline-block; }
.folders_subscription input { float: right; }

@media (min-width: 687px) {
    .folders_subscription { width: 30% }
}

@media (min-width: 1201px) {
    .folders_subscription { width: 25% }
}
