.tracker_output { float: right; width: 230px; margin-left: 20px; }
.tracker_output table td { font-size: 75%; padding-right: 3px; }
.tracker_output table .enabled{ color: green; }
.tracker_output table .disabled{ color: red; }
