.tracker_output { margin-right: 10px; border: solid 1px #ccc; padding: 10px; float: left; clear: left; width: 300px; overflow: scroll; height: 300px; margin-top: 50px;-webkit -border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.tracker_output table td { padding-right: 3px; }
.tracker_output table .enabled{ color: green; }
.tracker_output table .disabled{ color: red; }
.imap_summary_debug, .tracker_debug { margin-right: 10px; height: 300px; border: solid 1px #ccc; padding: 10px; overflow: scroll; float: left; width: 300px; margin-top: 50px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.imap_summary_debug { width: 600px; }
