/hm3.rc
/hm3.ini
/site.js
/site.css
/site/
/todo
/tests/selenium/creds.py
/tests/selenium/local_creds.py
/tests/selenium/remote_creds.py
*.pyc
apigen4.sh
testuser.txt
website/docs
tests/phpunit/data/testuser.txt
website
tests/phpunit/clover.xml
tests/phpunit/coveralls-upload.json
tests/phpunit/data/foo.txt
scripts/test.php
/vendor/
/.idea/
*.sublime-project
*.sublime-workspace
composer.phar
lib/hm3/users/
