/hm3.rc
/hm3.ini
/site.js
/site.css
/site/
/todo
/tests/selenium/creds.py
/tests/selenium/local_creds.py
/tests/selenium/remote_creds.py
*.pyc
apigen4.sh
commit_check.sh
website/docs
tests/phpunit/data/testuser.txt
website
tests/phpunit/clover.xml
