attrs==23.1.0
certifi==2024.7.4
h11==0.16.0
idna==3.7
outcome==1.2.0
PySocks==1.7.1
selenium==4.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
trio==0.22.2
trio-websocket==0.11.1
urllib3==2.6.3
wsproto==1.2.0
