.filter_details {
    margin-top: 20px;
}

.filter_details th {
    color: #666;
    padding: 5px;
    padding-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: solid 1px #eee;
    font-weight: normal;
    text-align: left;
}

.filter_details td {
    padding: 10px;
}

.tingle-modal * {
    box-sizing: border-box
}

.tingle-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto
}

@supports ((-webkit-backdrop-filter:blur(12px)) or (backdrop-filter:blur(12px))) {
    .tingle-modal {
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px)
    }
}

.tingle-modal--confirm .tingle-modal-box {
    text-align: center
}

.tingle-modal--noOverlayClose {
    cursor: default
}

.tingle-modal--noClose .tingle-modal__close {
    display: none
}

.tingle-modal__close {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 1000;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-align: right;
    padding: 10px;
}

.tingle-modal__close svg * {
    fill: currentColor
}

.tingle-modal__closeLabel {
    display: none
}

.tingle-modal__close:hover {
    color: #fff
}

.tingle-modal-box {
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 1200px;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    cursor: auto;
    will-change: transform, opacity
}

.tingle-modal-box__content {
    padding: 3rem 3rem
}

.tingle-modal-box__footer {
    padding: 1.5rem 2rem;
    width: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f5f5f5;
    cursor: auto
}

.tingle-modal-box__footer::after {
    display: table;
    clear: both;
    content: ""
}

.tingle-modal-box__footer--sticky {
    position: fixed;
    bottom: -200px;
    z-index: 101;
    opacity: 1;
    transition: bottom .3s ease-in-out .3s
}

.tingle-enabled {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden
}

.tingle-modal--visible .tingle-modal-box__footer {
    bottom: 0
}

.tingle-modal--visible {
    visibility: visible;
    opacity: 1
}

.tingle-modal--visible .tingle-modal-box {
    animation: scale .2s cubic-bezier(.68, -.55, .265, 1.55) forwards
}

.tingle-modal--overflow {
    overflow-y: scroll;
    padding-top: 8vh
}

.tingle-btn {
    display: inline-block;
    margin: 0 .5rem;
    padding: 1rem 2rem;
    border: none;
    background-color: grey;
    box-shadow: none;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
    transition: background-color .4s ease
}

.tingle-btn--primary {
    background-color: #3498db
}

.tingle-btn--danger {
    background-color: #e74c3c
}

.tingle-btn--default {
    background-color: #34495e
}

.tingle-btn--pull-left {
    float: left
}

.tingle-btn--pull-right {
    float: right
}

.mobile .tingle-modal {
    top: 0;
    display: block;
    padding-top: 60px;
    width: 100%
}

.mobile .tingle-modal-box {
    width: auto;
    border-radius: 0
}

.mobile .tingle-modal-box__content {
    overflow-y: scroll
}

.mobile .tingle-modal--noClose {
    top: 0
}

.mobile .tingle-modal--noOverlayClose {
    padding-top: 0
}

.mobile .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%
}

.mobile .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    box-shadow: none;
    color: #fff
}

.mobile .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.mobile .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .4rem;
    width: 1rem;
    vertical-align: middle;
    font-size: 0
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(.8)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.filters_count,
.key_count {
    float: right;
    margin-right: 120px;
    font-size: 90%;
}

.filter_subblock {
    margin-bottom: 40px;
}

.filter_block {
    margin-bottom: 30px;
    margin-left: 40px;
    padding-top: 20px;
}

.unblock_button {
    width: 16px;
    cursor: pointer;
}

.block_domain_button {
    width: 16px;
    cursor: pointer;
}

.sieve_list_conditions_modal {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


table.sieve_list_conditions_modal caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table.sieve_list_conditions_modal tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table.sieve_list_conditions_modal th,
table.sieve_list_conditions_modal td {
    padding: .625em;
    text-align: left !important;
}

table.sieve_list_conditions_modal th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.mobile table.sieve_list_conditions_modal {
    border: 0;
}

.mobile table.sieve_list_conditions_modal caption {
    font-size: 1.3em;
}

.mobile table.sieve_list_conditions_modal thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.mobile table.sieve_list_conditions_modal tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}

.mobile table.sieve_list_conditions_modal td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
}



table.filter_actions_modal_table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table.filter_actions_modal_table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table.filter_actions_modal_table th,
table.filter_actions_modal_table td {
    padding: .625em;
    text-align: left !important;
}

table.filter_actions_modal_table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.mobile table.filter_actions_modal_table {
    border: 0;
}

.mobile table.filter_actions_modal_table caption {
    font-size: 1.3em;
}

.mobile table.filter_actions_modal_table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.mobile table.filter_actions_modal_table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
}

.mobile table.filter_actions_modal_table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
}

.mobile table.filter_actions_modal_table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.mobile table.filter_actions_modal_table td:last-child {
    border-bottom: 0;
}

.submit_default_behavior {
    background-color: teal;
    color: #fff;
    margin-left: 5px;
    padding-inline: 10px;
    cursor: pointer;
}

.select_default_reject_message {
    margin-left: 5px;
}

#block_sender_form {
    padding: 15px; display: block;
}

#block_sender_form label, #block_sender_form select, #block_sender_form textarea, #block_sender_form button {
    display: block;
    margin: 3px 0;
    width: 100%;
}

#block_sender_form button {
    color: #fff;
    background-color: brown;
    cursor: pointer;
}

#block_sender_form button:disabled {
    background-color: rgb(231, 121, 121);
    cursor: text;
}

#block_sender_form label {
    text-transform: capitalize;
}
