.shortcut_content { width: 100%; padding-bottom: 30px; }
.shortcut_content .edit_shortcut_form { width: 1%; margin: 20px; margin-left: 40px; }
.edit_shortcut_form table th, .edit_shortcut_form table td { padding-bottom: 10px; padding-right: 20px; text-align: left; font-weight: normal; white-space: nowrap; }
.edit_shortcut_form select { overflow-y: auto; }
.edit_shortcut_form table th { font-size: 115%; padding-bottom: 20px; }
.shortcut_table { width: 50%; }
.kbd_config { cursor: pointer; opacity: .4; }
.shortcut_table th { padding-left: 40px; font-weight: normal; padding-top: 6px; padding-bottom: 3px; text-align: left; }
.shortcut_table td { padding-top: 5px; }
.shortcut_table .settings_subtitle { cursor: auto; }
.shortcut_table .keys {white-space: nowrap; width: 1%; font-size: 105%; color: #666; }

.mobile .shortcut_table { width: 100%; }
.mobile .shortcut_table img { width: 20px; height: 20px; }
.mobile .shortcut_table th { padding-left: 10px; }
.mobile .shortcut_table { padding-right: 10px; }
