.tfa_error, .tfa_input { margin-left: 20px; }
.tfa_error { color: red; margin-right: 20px; margin-bottom: 10px; }
.tfa_setting { display: none; }
.mobile .tfa_input { max-width: 340px; margin-bottom: 10px; }
