.add_contact_form input { margin: 5px; margin-left: 0px; }
.add_contact_form { white-space: nowrap; padding-top: 10px; display: block; }
.contact_list { margin-left: 35px; margin-right: 10px; margin-top: 20px; width: 50%; }
.contact_list td { white-space: nowrap; padding-right: 20px; padding-bottom: 5px; vertical-align: -5px; padding-top: 5px; border-bottom: solid 1px #ddd; }
.gmail_contacts { margin-top: 50px; }
.contact_list_title { padding-top: 0px !important; padding-bottom: 10px; }
.edit_contact img, .send_to_contact img, .delete_contact img { opacity: .5; margin-left: 10px; cursor: pointer; }
.contact_controls { text-align: right; }
.add_contact_row { position: absolute; top: 22px; right: 10px; font-size: 90%; z-index: 100}
.add_contact_row img { opacity: .4; margin-right: 10px; }
.add_contact_controls { display: none; }
#add_contact { max-width: 300px; }
@media screen and (max-device-width:480px) and (orientation : portrait) { .add_contact_row { display: none; } }
.contact_suggestion { display: block; }
.close_autocomplete { float: right; }
#cc_contacts, #bcc_contacts, #to_contacts { display: none; left: 34px; margin-top: -5px; position: absolute; background-color: #fff; border: solid 1px #ddd; padding: 10px; border-radius: 3px 3px 3px 3px; border-top: none; }
.contact_pages { text-align: center; border-bottom: none !important; }
.no_contact_sources { text-align: center; color: #999; font-size: 110%; margin-top: 60px; }
