.add_contact_controls { display: none; }
.contact_suggestion { display: block; }
.close_autocomplete { float: right; }
#cc_contacts, #bcc_contacts, #to_contacts { z-index: 1; display: none; left: 34px; margin-top: -5px; position: absolute; background-color: #fff; border: solid 1px #ddd; padding: 10px; border-radius: 3px 3px 3px 3px; border-top: none; }
.contact_pages { text-align: center; border-bottom: none !important; }
.no_contact_sources { text-align: center; color: #999; font-size: 110%; margin-top: 60px; }
.add_contact { margin-bottom: 30px; margin-top: 10px; color: #666; margin-right: 25px; float: left; clear: left; margin-left: 25px; width: 300px; }
.contact_form { margin-top: 10px; display: none; }
.contact_detail_row { border: none; display: none;}
.display_name, .email_address, .phone_number { font-weight: bold; }
.show_contact { margin-right: 15px; }
.contact_detail th { font-weight: normal; text-align: left; padding-right: 20px; }
.contact_fld { max-width: 300px; overflow-x: hidden; text-overflow: ellipsis; }

.mobile .contact_list { margin-left: 0px; font-size: 125%; width: 100%; }
.mobile .contact_controls img { width: 20px; height: 20px; }
.mobile .contact_list_title, .mobile .add_contact { display: none; }
.mobile .contact_fld { display: none; } .contact_src { display: none; }
.mobile .add_contact_row { display: none; }
