.wordpress_connect_section { padding: 20px; padding-bottom: 40px; display: none; padding-left: 40px; }
.wp_disconnect { margin-left: 20px; margin-top: 20px; }
.wp_notifications_setting { display: none; }
