html * { font-family: Arial; color: #999 !important; border-color: #282828 !important; background-color: transparent; }
main, div { border-radius: 0px 0px 8px 8px }
body, .folder_cell { background: none !important; background-color: transparent !important; }
html { background: linear-gradient(0deg, #111, #333) !important; }
img { opacity: .4 !important; }
.msg_text_inner img, .apod_image img { opacity: 1 !important; }
a { color: #aaa !important; }
a:hover { color: #fff !important; }
.selected_part, .toggle_recipients, textarea, select, input, .toggle_link { color: #aaa; background-color: #444 !important; }
textarea { font-size: 100%; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.move_to_location, .move_to_title, li, ul, #to_contacts, #cc_contacts, #bcc_contacts, .msg_parts, .info_content, .profile_content, .user_settings, .settings_table, .server_content div, .list_controls, .msg_controls a, .checkbox_label, .search_content, .msg_text, .compose_page, .list_sources, .confirm_logout, .confirm_logout, .folder_list, .content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background: none !important; background-color: #363636 !important; }
.today { background-color: #222 !important; }
.ke-content body * { background-color: #000 !important; }
.src_name, .content_title { color: #aaa !important; background: linear-gradient(0deg, #333, #383838) !important; }
.debug, .subtitle { color: #999 !important; }
.subject, .subject a { font-weight: normal !important; color: #999 !important; }
.empty_list { color: #666 !important; }
.selected_part a, .selected_menu, .selected_menu a { color: #eee !important; }
.icon { color: #aaa !important; }
.online { color: green !important; }
.down { color: red !important; }
.save_reminder { margin-top: 10px; }
.sys_messages { filter: none; background-color: #000 !important; }
.unseen a { font-weight: normal; color: #eee !important; }
.next_img { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wITFigf3y7T1gAAANFJREFUOMud00tOwzAUheHrDiAsBkVsCraRrqFF7YC1IMQiWpWVkEm+TgwyiZugHMkDyz7/PdePiJHwhCO+0OdxwQFt3BIe8GZeQ4Y3NfNnubNSoNTHH0it8gIADmXPVgAGtJuIeIl1ShHxHPm01ySAc0IfEXcTfEppDKik6DfFZJsK1YDF2rYkX4pI3VLj6Ir9p8gvzH8gIzPsAm2+kllIxTzg8WfxWDnhbsYM+5Le5Oc5gdwwv+N+HLHJSYaFz7SfmEegFq844zuPE3a/PRe6Aq8gHZ0qhA9iAAAAAElFTkSuQmCC'); }
.prev_img { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wITFisqorBENgAAAMFJREFUOMulk00OgkAMhd+wUDyMId6QOwiBhVeRGA8h0YXxGLDhc1MNjMNP8CVdte+b6bQjeQIOQAk8gNbiDhRAojEBO+DEtDqDxyHzNWBILXxdBpCRk9NePgQp+j2PmicgHZDIepo0T0By2WvPmkcgtWxMi8wBSOOAVtLGL3LOOc9EgNVGkl5ar2ckqfoDcBaQ2EgGCvQd2sr9J1muAGT9ZGzruRRQAVu/ILabdDOfKfsxe6AEyIEaaCxuwPHbc09vYOgGTQzSYewAAAAASUVORK5CYII='); }
.checkbox_cell input[type="checkbox"]:checked + label { background-color: #222 !important; }
.mobile .msg_controls { background: #363636 !important; }
.total_unread_count, .unread_count { background-color: #2e2e2e; }
.hl { background-color: #222; }
.draft_list { background-color: #222; }
.list_controls { background: none !important; }
.editor-toolbar a { color: #fff !important; }
.reply_quote {font-family: monospace !important; }
.debug_title {background-color: #111;}
