html * { font-family: Arial; color: #333 !important; border-color: #94b096 !important; background-color: transparent !important; }
main, div { border-radius: 3px 3px 3px 3px }
body, .folder_cell { background: none !important; background-color: transparent !important; }
html { background: linear-gradient(340deg, #eee, #eee, #eee, #b8ccb9, #b8ccb9) !important; }
.msg_controls { background: linear-gradient(340deg, #b8ccb9, #b8ccb9) !important; }
img { opacity: .5 !important; }
.msg_text_inner img, .apod_image img { opacity: 1 !important; }
a { color: #222 !important; }
.list_meta, a:hover { color: #000 !important; }
.confirm_logout, .msg_controls a, textarea, select, input, .toggle_link { color: #aaa; background-color: #c7dcc8 !important; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.folder_list { background-color: transparent !important; }
.content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background-color: transparent !important; }
.src_name, .content_title { color: #666 !important; background: none !important; background-color: transparent !important; }
.debug, .subtitle { color: #999 !important; }
.settings_subtitle { color: #333 !important; }
.empty_list, .subject a { color: #333 !important; }
.selected_menu, .selected_menu a { color: green !important; }
.icon { color: #aaa !important; }
.online { color: green !important; }
.down { color: red !important; }
.sys_messages { background-color: #eee !important; color: #222 !important; }
.message_list tr td { border: none; }
::-webkit-input-placeholder { color: #999; }
.checkbox_cell input[type="checkbox"]:checked + label { background-color: #94b096 !important; }
.list_controls { background: none !important; }
.debug_title {background-color: #ddd !important;}
.sys_messages {filter: none;}
