html * { font-family: Verdana, Geneva, sans-serif; font-size: 12pt; border-color: #f6f6ef !important; background-color: transparent !important; }
main, div { border-radius: 0px 0px 0px 0px }
body, .folder_cell { padding-top: 10px; background: none !important; background-color: transparent !important; }
html { background-color: #fff; }
img { opacity: .5 !important; }
.msg_text_inner img, .apod_image img { opacity: 1 !important; }
a { color: #222 !important; }
.list_meta, a:hover { color: #000 !important; }
msg_controls a, textarea, select, input, .toggle_link { color: #aaa; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.folder_list { background-color: #f6f6ef !important; }
.mailbox_list_title { color: #000; }
.confirm_logout, .content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background-color: #f6f6ef !important; }
.src_name { color: #666 !important; background: none !important; background-color: #f6f6ef !important; }
.content_title { color: #333; background: none !important; background-color: rgb(255, 102, 0) !important; font-size: 140%; font-weight: bold; padding-bottom: 5px; padding-top: 5px; }
.content_title span { color: #333; }
.main_menu { padding-top: 5px; }
.debug, .subtitle { color: #999 !important; }
.settings_subtitle { color: #333 !important; }
.empty_list, .subject a { color: #333 !important; }
.selected_menu, .selected_menu a { color: rgb(255, 102, 0) !important; }
.icon { color: #aaa !important; }
.online { color: green !important; }
.down { color: red !important; }
.sys_messages { background-color: #fff !important; color: #222 !important; }
.unsaved_reminder { top: 10px; opacity: .2 !important; }
.total_unread_count, .unread_count { color: #828282; }
.message_list tr td { border: none; }
::-webkit-input-placeholder { color: #999; }
.subject a { font-size: 120% !important; }
.msg_date { float: left !important; clear: none !important; padding-top: 0px !important; padding-left: 10px; margin: 0px; }
.source { font-style: normal; padding: 0px; margin: 0px; }
.source, .msg_date, .from { font-size: 85% !important; color: #999 !important; }
.message_table td { padding-bottom: 15px !important; padding-top: 0px !important; }
.unseen a { font-weight: normal !important; }
nav { padding-top: 0px !important; }
.checkbox_cell label { border: solid 1px rgb(255,102,0) !important; }
.news_cell input[type="checkbox"]:checked + label { background-color: rgb(255,102,0) !important; }
.list_controls { background: none !important; }
.folder_toggle { top: 15px; }
@media screen and (max-device-width:480px) and (orientation : portrait) {
    .content_title { color: #333; background: none !important; background-color: rgb(255, 102, 0) !important; font-size: 140%; font-weight: bold; }
}
.debug_title {background-color: #ddd !important;}
