html * { font-family: Verdana, Geneva, sans-serif; font-size: 12pt; color: #828282; !important; border-color: #f6f6ef !important; background-color: transparent !important; }
main, div { border-radius: 0px 0px 0px 0px }
body, .folder_cell { padding-top: 10px; background: none !important; background-color: transparent !important; }
html { background-color: #fff; }
img { opacity: .5 !important; }
a { color: #222 !important; }
.list_meta, a:hover { color: #000 !important; }
.msg_controls a, textarea, select, input, .toggle_link { color: #aaa; background-color: #fff !important; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.folder_list { background-color: #f6f6ef !important; }
.content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background-color: #f6f6ef !important; }
.src_name { color: #666 !important; background: none !important; background-color: #f6f6ef !important; }
.content_title { color: #333; background: none !important; background-color: rgb(255, 102, 0) !important; font-size: 140%; font-weight: bold; padding-bottom: 5px; padding-top: 5px; }
.content_title span { color: #333; }
.main_menu { padding-top: 5px; }
.debug, .subtitle, { color: #999 !important; }
.settings_subtitle { color: #333 !important; }
.empty_list, .subject a { color: #333 !important; }
.selected_menu, .selected_menu a { color: rgb(255, 102, 0) !important; }
.icon { color: #aaa !important; }
.online { color: green !important; }
.down { color: red !important; }
.sys_messages { background-color: transparent !important; color: #222 !important; }
.message_list tr td { border: none; }
::-webkit-input-placeholder { color: #999; }
.list_controls { margin-top: -12px; }
.subject a { font-size: 120% !important; }
.msg_date { float: left !important; clear: none !important; padding-top: 0px !important; padding-left: 10px; margin: 0px; }
.source { font-style: normal; padding: 0px; margin: 0px; }
.source, .msg_date, .from { font-size: 85% !important; color: #999 !important; }
.message_table td { padding-bottom: 15px !important; padding-top: 0px !important; }
.unseen a { font-weight: normal !important; }
nav { padding-top: 0px !important; }
