html * { font-family: Verdana; color: #ccc !important; border-color: #413221 !important; background-color: transparent !important; }
main, div { border-radius: 0px 0px 3px 3px }
body, .folder_cell { background: none !important; background-color: transparent !important; }
html { background: linear-gradient(0deg, #33281a, #94734b) !important; }
img { opacity: .4 !important; }
.msg_text_inner img, .apod_image img { opacity: 1 !important; }
a { color: #aaa !important; }
::-webkit-input-placeholder { color: #ddd; }
a:hover { color: #fff !important; }
textarea, select, input, .toggle_link, .msg_controls a { color: #ddd !important; background-color: #8e714b !important; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.confirm_logout, .folder_list, .content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background-color: #836a4e !important; }
.msg_controls, .src_name, .content_title { color: #aaa !important; background: linear-gradient(0deg, #79562d, #725a3b) !important; }
.debug, .subtitle, .settings_subtitle { color: #bbb !important; }
.empty_list, .subject a { color: #ccc !important; }
.sys_messages { background-color: #8e714b !important; }
.selected_menu, .selected_menu a { color: #eee !important; }
.icon { color: #aaa !important; }
.online { color: #1b491b !important; }
.down { color: #a21d1d !important; }
.checkbox_cell input[type="checkbox"]:checked + label { background-color: #79562d !important; }
.save_reminder { margin-top: 10px; }
.list_controls { background: none !important; }
.debug_title {background-color: #666 !important;}
