html * { font-family: Monospace; font-variant: small-caps; text-transform: uppercase; letter-spacing: .2px; font-size: 101%; color: green !important; border-color: #000 !important; background-color: transparent !important; }
body, .folder_cell { background: none !important; background-color: transparent !important; }
html { background: linear-gradient(0deg, #050505, #050505) !important; }
a { color: green !important; }
.nlink:hover, .plink:hover, a:hover { color: #82c885 !important; }
.confirm_logout, textarea, select, input, .toggle_link { border-radius: 0px; border-style: solid; border-color: #222 !important; color: green; background-color: #000 !important; }
.toggle_link img { display: inline-block; }
.msg_text_inner img, .apod_image img { opacity: 1 !important; }
.prevnext { display: none; }
::-webkit-input-placeholder { color: #174214; }
.checkbox_cell label { border: solid 1px green !important; }
.checkbox_cell input[type="checkbox"]:checked + label { background-color: green !important; }
.loading_icon, .server_section { border-radius: 0px 0px 0px 0px !important; }
.folder_list, .content_cell, .message_list, .configured_server, .add_server, .server_content, .server_section { background-color: #050505 !important; }
.msg_controls, .src_name, .content_title { color: green !important; background: linear-gradient(0deg, #050505, #050505) !important; }
.debug, .subtitle, .settings_subtitle { color: green !important; }
.settings_subtitle { padding-left: 0px !important; }
.empty_list, .subject a { font-style: normal; color: green !important; }
.unseen a { font-weight: bold;  font-size: 102%; }
.selected_menu, .selected_menu a { color: #82c885 !important; }
.icon { color: green !important; }
.online { color: green !important; }
.down { color: red !important; }
.list_meta b { color: #ddd !important; }
.src_name, .content_title, .server_section, .settings_subtitle, .msg_parts { border-bottom: solid 1px #000 !important; }
.message_list tr td { border: none !important; }
.msg_parts { border-top: solid 1px #000 !important; }
.msg_text_inner, .msg_text_inner * { text-transform: none !important; font-variant: normal !important; }
.src_name { padding-left: 15px; padding-bottom: 0px; }
.sys_messages { background-color: #000 !important; color: #006400 !important; }
.sys_messages .err { color: #530202 !important; }
.list_controls { background: none !important; }
.subject div img { display: none; }
.loading_icon { background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAHCAIAAABx4H/3AAAACXBIWXMAAA4mAAAN/wHwU+XzAAAAB3RJTUUH4AMPFRwFSaMT7QAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEBSURBVEjHpVQxAoMwCDywX+jWuf//oFwHKlITI7FMJMAFDoi83k8RgUJckqKqAFwHoKpuhQiA5bFbVVVEAOxRgbPI120D33EAXQSb2EqSAGgwM5I0ADAzAFzpely6QtJ1uhg2kB9PN+ZXXCGJiE3hXdHQPPt8zGGtFQUJt9a/m9MYtg05Ley84G5gsRz9N63N2nWIy2wdQPGqyClyA9A349D+HF58V7vvOW42xUr6Ds52JjuICK3azCn6ipgt+PRktfX356ucfc7gCK7TQ/QPlfG7ndFanayBX/zZh9viAzfomB2NbkdvsFzcR52udvg31Vno8nLZucv5HSOcgRT38QP/MeNRBRCW8gAAAABJRU5ErkJggg==') repeat-x top left; background-size: cover; background-position: 0px, 0px; }
.editor-toolbar a { color: green !important; }
.nofrom { color: green !important; opacity: .7; }
.sys_messages {filter: none;}
