.create_user { margin-top: 20px; margin-left: 10px; }
.chg_pass_page { width: 100%; }
.change_pass { width: 100%; }
.create_user input { clear: both; float: left; padding: 4px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px; }
.create_account_link { margin-left: 120px; float: left; clear: left; font-size: 115%; padding: 5px; }
.change_pass { margin-left: 20px; margin-top: 20px; }
.change_pass input { margin-bottom: 20px; }
.user_list { padding-left: 40px; padding-top: 20px; }
.user_list td {padding-bottom: 10px; }
.user_list .user_delete { cursor: pointer; margin-right: 10px; }
