.configured_servers { float: left; clear: left; margin-bottom: 10px; width: 98%; }
.unread_messages, .configured_server, .add_server, .login_form { border: solid 1px #ccc; padding: 10px; width: 200px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.configured_server { float: left; margin: 10px; width: 230px; }
.imap_debug_data { margin-left: 10px; }
.imap_connect { display: inline; }
.imap_debug { border: solid 1px #ccc; float: left; padding: 10px; height: 300px; width: 300px; overflow: scroll; white-space: pre; margin-top: 50px; font-size: 75%; }
.add_server { float: left; clear: left; margin-bottom: 10px; margin-left: 10px; }
.configured_servers input, .add_server input {margin-bottom: 10px; padding: 5px; }
.save_settings, .unread_link, .server_link { line-height: 10pt; font-size: 10pt; margin: 2px; display: block; padding: 3px; border: solid 1px #ccc; background-color: #efefef; float: right; clear: none; color: #000; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.imap_summary_data { width: 300px; padding: 10px; border: solid 1px #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.imap_summary_row { padding: 10px; padding-top: 0px; }
.total { color: green; }
.unseen { color: green; }
.imap_summary_row td { text-align: left; padding-left: 10px;}
.unread_messages { display: none; width: 98%; min-height: 200px; overflow: hidden; }
.unread_messages table td { padding-top: 5px; padding-right: 10px; color: #333; }
.subject, .msg_date, .from { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.subject { cursor: pointer; font-weight: bold; }
.source { font-style: italic; color: #666; font-size: 75%;}
.msg_date { color: #666; }
.hl { padding-right: 5px; color: #666; }
.dl { color: #888; }
.empty_table img { vertical-align: -2px; }
.unread_messages table th { cursor: pointer; text-align: left; color: #666; font-weight: normal; border-bottom: solid 1px #eee; }
.unread_messages table th:hover { color: #000;
