.profile_details { padding-left: 30px; margin-top: 20px; }
.profile_details th { color: #666; padding: 5px; padding-bottom: 2px; border-bottom: solid 1px #eee; font-weight: normal; text-align: left; }
.profile_details td { padding: 10px; }
.profile_details td img { opacity: .6; }
.edit_profile table { width: 20%; padding: 20px; }
.edit_profile table th { white-space: nowrap; font-weight: normal; text-align: left; vertical-align: top; padding-right: 10px; }
.edit_profile table th, .edit_profile table td { padding-bottom: 10px; }
.compose_sign { cursor: pointer; margin-left: 10px; float: right; margin-top: 10px; }
.profiles_empty { text-align: center; padding-top: 100px; color: #666; }
.mobile .profile_fld { display: none; }
.add_profile { position: absolute; top: 10px; right: 10px; }
