.nux_add_account { table-layout: fixed; width: 100%; display: table; background-color: #fff; }
.nux_subtitle { font-size: 80%; margin-left: 40px; display: inline; }
.quick_add_section { padding: 20px; padding-bottom: 40px; display: none; padding-left: 40px; }
.nux_step_two_title { padding-top: 20px; font-size: 110%; padding-bottom: 10px; }
.nux_step_one, .nux_step_two { padding-left: 40px; max-width: 600px; }
.enable_auth2 { float: left; padding: 20px; padding-left: 0px; padding-bottom: 40px; font-size: 110%; }
.nux_password, .app_password { margin: 10px; margin-left: 0px; margin-top: 0px; width: 280px; }
.reset_nux_form { float: right; padding: 20px; padding-bottom: 40px; font-size: 110%; }
.nux_submit { margin-bottom: 20px; }
.nux_account_name, .nux_username, #service_select { margin-bottom: 10px; width: 280px; padding: 3px; }
#nux_email { margin-bottom: 10px; }
.nux_help, .nux_dev_news, .nux_welcome { padding: 20px; margin: 20px; margin-right: 0px; float: left; border: solid 1px #eee; }
.nux_welcome, .nux_help { min-width: 320px; max-width: 480px; min-height: 400px; }
.nux_qa, .nux_imap, .nux_pop3, .nux_smtp { margin-bottom: 10px; }
.nux_dev_news table td { padding-right: 10px; white-space: nowrap; }
.nux_welcome ul li a { float: right; padding-left: 10px; padding-right: 10px; }
.nux_help ul li { margin-bottom: 30px; }
.nux_help ul { margin-top: 30px; }
.nux_welcome ul { margin-top: 30px; }
.nux_try_out { display: block; text-align: center; margin: auto; margin-top: 10px; }
.nux_tz {  margin-top: 30px; }
.nux_empty_combined_view { display: none; text-align: center; padding-top: 100px; color: #666; }

.mobile .quick_add_section { padding-left: 0px; }
.mobile .nux_dev_news, .mobile .nux_help, .mobile .nux_welcome { max-width: 90%; width: 90%; margin: 10px  auto; padding-left: 10px; padding-right: 5px; float: none; min-height: 200px; }
.mobile .nux_dev_news { width: 90%; overflow: hidden; }
.mobile .nux_welcome ul { padding-left: 10px; }
