<phpunit strict="false" colors="true">
    <testsuite name="session">
        <file>./session.php</file>
    </testsuite>
    <testsuite name="cache">
        <file>./cache.php</file>
    </testsuite>
    <testsuite name="crypt">
        <file>./crypt.php</file>
    </testsuite>
    <testsuite name="config">
        <file>./config.php</file>
    </testsuite>
    <testsuite name="db">
        <file>./db.php</file>
    </testsuite>
    <testsuite name="format">
        <file>./format.php</file>
    </testsuite>
    <testsuite name="auth">
        <file>./auth.php</file>
    </testsuite>
    <testsuite name="oauth2">
        <file>./oauth2.php</file>
    </testsuite>
    <testsuite name="module">
        <file>./module.php</file>
    </testsuite>
    <testsuite name="modules">
        <file>./modules.php</file>
    </testsuite>
    <testsuite name="dispatch">
        <file>./dispatch.php</file>
    </testsuite>
    <testsuite name="output">
        <file>./output.php</file>
    </testsuite>
    <testsuite name="request">
        <file>./request.php</file>
    </testsuite>
    <testsuite name="servers">
        <file>./servers.php</file>
    </testsuite>
    <testsuite name="webdav_formats">
        <file>./webdav_formats.php</file>
    </testsuite>
    <testsuite name="api">
        <file>./api.php</file>
    </testsuite>
    <testsuite name="modules_core">
        <file>./modules/core/functions.php</file>
        <file>./modules/core/message_functions.php</file>
        <file>./modules/core/message_list_functions.php</file>
        <file>./modules/core/modules.php</file>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../../lib</directory>
            <exclude>
                <file>../../lib/framework.php</file>
            </exclude>
            <exclude>
                <file>../../lib/sodium_compat.php</file>
            </exclude>
            <directory suffix=".php">../../modules/core/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../../website/docs/test_coverage/" charset="UTF-8" highlight="false" lowUpperBound="75" highLowerBound="99"/>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
