.adv_controls { margin-left: 25px; display: none; }
.adv_source_list { margin-top: 10px; line-height: 150%; }
.adv_source_list img { margin-right: 10px; }
.adv_expand_all { display: none; }
#adv_search { cursor: pointer; }
.source_count, .time_count, .target_count, .other_count, .term_count { display: none; float: right; margin-right: 30px; }
.imap_support_required { padding: 100px; text-align: center; font-size: 120%; color: #666; }
.adv_reset { margin-left: 20px; cursor: pointer; }
.adv_search_link { margin-left: 20px; }
.adv_terms { margin-left: 10px; }

.mobile .search_result_title { position: relative !important; z-index: 99 !important;}
