.menu_recover_settings .unread_link { font-weight: bold; }
.recover_form { max-width: 600px; margin-left: 30px; margin-top: 20px; max-width: 60%; color: #666; }
.recover_form input { margin-top: 20px; }
