a { text-decoration: none; color: green; }
a:hover { color: #000 !important; }
br { clear: both; }
html, body { max-width: 100%; min-height: 100%; background-color: #f5f5f5; }
body { font-size: 1em; height: 100%; color: #333; font-family: Arial; padding: 0px; margin: 0px; background-color: #fff; background: #f5f5f5; } /*linear-gradient(180deg, #f5f5f5, #fff); }*/
.framework_table{ max-width: 100%; height: 100%; }
table { width: 100%; }
td { vertical-align: top; }
.subtitle { color: green; padding-bottom: 5px; font-weight: normal; letter-spacing: 0px; font-size: 100%;  margin-left: 0px !important; }
.date { float: right; clear: none; color: #888; padding-right: 30px; padding-top: 6px;}
.sys_messages { color: green; position: absolute; left: 120px; top: 13px; }
.logout_form { float: right; clear: none; padding-right: 20px; }
.logged_in { padding-left: 10px; float: right; padding-right: 10px; }
.title { font-weight: normal; padding: 0px; font-size: 2em; color: #000; opacity: .4; margin: 0px; margin-left: 15px; letter-spacing: -3px; font-family: monospace; width: 50px; }
.loading_icon { position: absolute; top: 15px; left: 90px; visibility: hidden; width: 32px; height: 32px; }
.loading_icon img { visibility: inherit; }
.empty_table { text-align: center; color: #666 !important; padding-top: 50px !important; padding-bottom: 50px !important; }
.logout { margin: 2px; margin-left: 5px; display: block; padding: 5px; border: solid 1px #aaa; background-color: #fff; float: right; clear: none; color: #333; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.logout { cursor: pointer; background: #fff url('/hm3/images/open_iconic/power-standby-2x.png') no-repeat 6px 4px; padding-left: 25px; color: #000; opacity: .6; }
.profile_content, .user_settings { background: #fff; height: 100%; margin-left: margin-right: 20px; padding-bottom: 40px; }
.user_settings table { width: 50%; white-space: nowrap; margin-left: 10px; }
.user_settings table td { padding: 5px; }
.save_settings { float: none !important; }
option, select { padding: 3px; }
.toolbar { padding-top: 10px; padding-left: 10px; margin-bottom: 10px; }
.login_form { font-size: 90%; margin-top: 60px; margin-left: 60px; }
.login_form input { padding: 4px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px; }
.err { color: red; }
.elapsed { color: green; font-size: 75%; float: right; clear: both; margin: 20px; }
.server_summary { height: 100%; background-color: #fff; }
.server_summary table { padding: 20px; padding-bottom: 40px; }
.server_summary table th, .message_table th { font-style: italic; padding: 5px; padding-left: 10px; cursor: pointer; text-align: left; color: #666; font-size: 80%; font-weight: normal; }
.server_summary table td { padding: 5px; }
.inner_list a { padding-right: 5px; }
.folders { margin-top: 10px; margin-bottom: 20px; }
.inner_list { margin-bottom: 10px; } 
.folders a { color: #555; text-decoration: none; line-height: 1.25em; }
.folder_list { margin-right: 20px; padding-right: 20px; padding-bottom: 20px; min-width: 150px; }
.folder_cell { padding-left: 20px; width: 1%; }
.folders, .inner_list { list-style-type: none; padding: 0px; margin-left: 10px; padding-right: 0px; }
.folders li, .inner_list li { padding: 4px; padding-left: 10px; color: #555; padding-bottom: 0px; margin: 2px; white-space: nowrap; }
.loading_folders { text-align: center; margin: 10px; margin-top: 20px; color: #666; }
.content_cell { padding-right: 0px; }
.folder_icon { opacity: .6; vertical-align: 2px; padding-left: 1px; padding-right: 11px; }
.account_icon { opacity: .6; vertical-align: -2px; padding-right: 6px; }
.small_account_icon { opacity: .6; vertical-align: 3px; padding-left: 1px; padding-right: 6px; }
.path_delim { opacity: .4; padding-left: 5px; vertical-align: 1px; padding-right: 3px; }
.not_found { font-size: 150%; color: #999; padding: 50px; height: 100%; border-bottom: solid 1px #aaa; border-left: solid 1px #ddd; background-color: #fff; }
.no_servers { text-align: center; padding: 50px; margin: auto; padding-bottom: 100px; }
.selected_menu, .selected_menu a { color: green !important; line-height: 1.25em;}

.src_name { border-left: solid 1px #eee; cursor: pointer; padding-left: 10px; margin-top: 0px; margin-right: -20px; background-color: #fff; border-bottom: solid 1px #aaa; color: #777; padding-top: 5px; font-size: 1.1em; letter-spacing: -1px; padding-bottom: 5px; }
.content_title { margin-top: 0px; color: #777; background-color: #fff; border-bottom: solid 1px #aaa; padding-bottom: 5px; padding-top: 5px; letter-spacing: -1px; font-size: 1.1em; padding-left: 20px; }
.header_subject .content_title { color: #555; }
