body { font-family: Arial; padding: 0px; margin: 0px; margin-left: 20px; }
table { width: 100%; }
td { vertical-align: top; }
.subtitle { color: #444; padding-bottom: 5px; font-weight: normal; letter-spacing: 0px; font-size: 110%;  margin-left: 0px !important; }
.date { float: right; clear: none; color: #888; padding-right: 30px; padding-top: 6px;}
.sys_messages { color: green; position: absolute; left: 85px; top: 13px; }
.logout_form { float: right; clear: none; padding-right: 30px; }
.logged_in { padding-left: 10px; float: right; padding-right: 10px; }
.title { font-weight: normal; padding: 0px; font-size: 135%; color: #aaa; margin: 0px; margin-left: 5px; padding-bottom: 10px; letter-spacing: -2px; }
.loading_icon { position: absolute; top: 15px; left: 63px; visibility: hidden; width: 16px; height: 16px; }
.loading_icon img { visibility: inherit; }
.empty_table { text-align: center; color: #666 !important; padding-top: 50px !important; padding-bottom: 50px !important; }
.settings_link, .logout, .home_link { line-height: 10pt; font-size: 10pt; margin: 2px; margin-left: 5px; display: block; padding: 5px; border: solid 1px #aaa; background-color: #fff; float: right; clear: none; color: #333; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.user_settings { width: 98%; padding: 10px; padding-bottom: 40px; border: solid 1px #aaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.user_settings table { width: 50%; white-space: nowrap; }
.user_settings table td { padding: 5px; }
.save_settings { float: none !important; }
option, select { padding: 3px; }
.toolbar { background-color: #f5f5f5; border-bottom: solid 1px #aaa; margin-bottom: 20px; padding-top: 10px; padding-left: 10px; margin-left: -20px; }
.login_form { margin-top: 60px; margin-left: 60px; }
.err { color: red; }
.elapsed { color: green; font-size: 75%; float: right; clear: both; margin: 20px; }
.server_summary { margin-right: 20px; padding: 10px; border: solid 1px #aaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.inner_list a { padding-right: 5px; }
.folders { margin-top: 10px; }
.folders a { color: #666; text-decoration: none; }
.folder_list { background-color: #fff; min-width: 200px; min-height: 600px; margin-right: 20px; border: solid 1px #aaa; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.folder_cell { width: 220px; }
.folders, .inner_list { list-style-type: none; padding: 0px; margin-left: 10px; }
.folders li, .inner_list li { padding: 3px; padding-left: 10px; margin: 0px; }
.loading_folders { text-align: center; margin: 10px; margin-top: 20px; color: #666; }
.content_cell { padding-right: 20px; }
.content_title { float: left; padding-bottom: 10px; font-size: 125%; padding-left: 10px; }
