a { text-decoration: none; color: teal; }
form { display: inline; padding: 0px; margin: 0px; }
a:hover { color: #000 !important; }
br { clear: both; }
html, body { max-width: 100%; min-height: 100%; background-color: #fff; }
body { background: linear-gradient(180deg, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #fff); font-size: 1em; height: 100%; color: #333; font-family: Arial; padding: 0px; margin: 0px; min-width: 700px; font-size: 100%; }
.framework { width: 100%; height: 100%; padding-top: 0px; }
table { width: 100%; }
td { vertical-align: top; }
.subtitle { color: teal; padding-bottom: 5px; font-weight: normal; letter-spacing: 0px; font-size: 100%;  margin-left: 0px !important; }
.title { font-weight: normal; padding: 0px; margin: 0px; margin-left: 20px; margin-bottom: 20px; letter-spacing: -1px; color: #999; }
.date { display: none; position: absolute; top: 15px; right: 20px; color: #888; padding-right: 0px; padding-top: 6px;}
.sys_messages { cursor: pointer; display: none; position: absolute; opacity: .9; background-color: #fff; color: teal; left: 33%; right: 33%; width: 33%; margin-top: 0px; text-align: center; background-color: #efefef; padding: 8px; white-space: nowrap; border: solid 1px #ddd; }
.logged_out { display: block !important; }
.logout_form { white-space: nowrap; padding: 0px; margin: 0px; }
.logout_form a {}
.logged_in { padding-left: 10px; float: right; padding-right: 10px; }
.placeholder { width: 100px !important; }
.loading_icon { background-position: 0px 0px; background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAKCAYAAAD2Fg1xAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkbBRUr8yq4rwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACASURBVDjL7c/BCsQwCEXRm0STfm+/PjVVZ9XCrGc35MFDcSGccp5nrrVwd9ydiCAzeVJrpdZKaw0RQVVRVXrvjDE4juOdz/60946qIiKICK219x9AKYXMJDOJCCICd+e+b9ZamBlmxnVdb+eczDm/bmZG5U+yIRuyIRuyIRvySz7mT0d4m0OV2gAAAABJRU5ErkJggg==') repeat-x top left; opacity: .25; text-align: center; display: none; position: absolute; right: 80px; top: 25px; width: 50px; height: 10px; }
.logout { margin: 2px; margin-left: 5px; display: block; padding: 5px; float: right; clear: none; color: #333; text-decoration: none; border: none !important; }
.logout:hover { background-color: #eee; }
.logout { cursor: pointer; background: #fff; font-size: 100%; }
.server_content, .profile_content, .user_settings { display: table; table-layout: fixed; width: 100%; min-height: 500px; background: #fff; height: 100%; margin-right: 20px; padding-bottom: 40px; }
.user_settings table { table-layout: fixed; width: 100%; white-space: nowrap; padding-left: 25px; }
.user_settings table td { height: 34px; vertical-align: middle; padding: 5px; padding-left: 37px; padding-top: 0px; color: #666; }
.save_settings { float: left !important; }
.save_settings_password { float: left; margin-left: 0px; padding: 4px; }
input:disabled { background-color: #f5f5f5; }
input, option, select { font-size: 100%; padding: 3px; }
textarea, select, input { border: solid 1px #ddd; background-color: #fff; color: #333; -border-radius: 3px; }
.login_form { float: left; font-size: 90%; padding-top: 60px; height: 300px; border-radius: 0px 0px 10px 0px; margin: 0px; background-color: #f5f5f5; width: 300px; padding-left: 20px; }
.login_form input { clear: both; float: left; padding: 4px; margin-left: 20px; margin-top: 10px; margin-bottom: 10px; }
.err { color: red; }
.debug { color: teal; font-size: 75%; float: right; clear: both; margin: 20px; }
.server_status, .server_summary { width: 100%; height: 100%; background-color: #fff; }
.server_status table, .server_summary table { table-layout: fixed; width: 100%; padding: 20px; padding-bottom: 40px; padding-left: 30px; }
.server_status table th, .server_summary table th, .message_table th { font-style: normal; padding: 5px; padding-left: 10px; cursor: pointer; text-align: left; color: #aaa; font-size: 75%; font-weight: normal; border-bottom: solid 1px #ddd; }
.message_table th { display: none; }
.server_status table td, .server_summary table td { white-space: nowrap; padding: 5px; overflow: hidden; text-overflow: ellipsis; }
.inner_list a { padding-right: 5px; }
.folders { margin-top: 10px; margin-bottom: 20px; margin-left: 20px !important;}
.inner_list { margin-bottom: 10px; } 
.folders a { color: #555; text-decoration: none; line-height: 1.25em; }
.folder_list { background-color: #fff; margin-right: 20px; padding-right: 15px; padding-bottom: 40px; min-width: 200px; padding-top: 15px; }
.folder_cell { vertical-align: top; height: 100%; max-width: 15%; display: table-cell; padding: 0px; margin: 0px; }
.content_cell { vertical-align: top; height: 100%;  width: 100%; padding: 0px; margin: 0px; display: table-cell; background-color: #fff; padding-top: 15px; }
.folders, .inner_list { list-style-type: none; padding: 0px; margin-left: 10px; padding-right: 0px; }
.folders li, .inner_list li { padding: 4px; padding-left: 10px; color: #555; padding-bottom: 0px; margin: 2px; white-space: nowrap; }
.loading_folders { text-align: center; margin: 10px; margin-top: 20px; color: #666; }
.folder_icon { opacity: .5; vertical-align: 2px; padding-left: 1px; padding-right: 11px; }
.account_icon { opacity: .5; vertical-align: -2px; padding-right: 6px; }
.small_account_icon { opacity: .5; vertical-align: 3px; padding-left: 1px; padding-right: 6px; }
.path_delim { opacity: .4; padding-left: 5px; vertical-align: 1px; padding-right: 3px; }
.not_found { font-size: 150%; color: #999; padding: 50px; height: 100%; border-left: solid 1px #ddd; background-color: #fff; }
.no_servers { text-align: center; padding: 50px; margin: auto; padding-bottom: 100px; }
.selected_menu, .selected_menu a { color: Teal !important; line-height: 1.25em;}

.src_name { max-height: 25px; cursor: pointer; border-left: solid 1px #eee; padding-left: 25px; margin-top: 0px; margin-right: -15px; background: linear-gradient(180deg, #fff, #fafafa); border-bottom: solid 1px #ddd; color: #777; padding-top: 5px; font-size: 125%; letter-spacing: -1px; padding-bottom: 10px; }
.content_title { max-height: 25px; margin-top: 0px; color: #777; background: linear-gradient(180deg, #fff, #fafafa); border-bottom: solid 1px #ddd; padding-bottom: 10px; padding-top: 5px; letter-spacing: -1px; font-size: 125%; padding-left: 30px; }
.header_subject .content_title { color: #555; }
.end_float { clear: both; }
.list_toggle { padding-right: 9px; margin-left: 15px; vertical-align: -2px; }
.setting_col { width: 80%; }
.label_col { width: 20%; }
.submit_cell { padding-left: 0px !important; padding-top: 30px !important; }
.password_notice { float: left; margin-left: 10px; font-size: .9em; color: #666; padding-top: 5px; }
.confirm_logout { display: none; background-color: #eee; padding: 20px; position: absolute; left: 0px; top: 0px; border: solid 1px #ccc; z-index: 100; }
.confirm_text {  padding-left: 10px; padding-bottom: 10px; }
.folder_list .update_unread { float: right; margin-top: 20px; }
.page_links a { text-decoration: none; color: #111; }
.page_links a img { vertical-align: -2px; }
.page_links { text-align: center; padding-top: 20px; }
.checkbox_cell { width: 20px; padding-right: 10px !important; }
.menu_caret { padding: 7px; float: right; margin-right: 10px; opacity: .15; }
.news_cell { border: none !important; padding-bottom: 10px !important; padding-top: 10px !important; }
.news_cell .subject { padding-bottom: 5px !important; }
.news_cell .icon { float: right; }
.news_cell .from {font-size: 100% !important; color: #111; letter-spacing: 0px; }
.wait { cursor: progress; }
.msg_controls { display: none; padding-left: 0px; margin-right: 20px; }
.msg_controls_visible { display: inline; }
.msg_controls a, .toggle_link { font-size: .6em; letter-spacing: 0px; color: #666; margin-right: 5px; background-color: #fff; border: solid 1px #ccc; padding: 3px; width: 30px; border-radius: 3px; vertical-align: 3px; }
.refresh_list, .list_settings_link { opacity: .4; padding: 5px; padding-bottom: 0px; cursor: pointer; padding-right: 0px; vertical-align: -10px; }
.list_settings_dialog { display: none; padding: 10px; position: absolute; top: 0px; right: 0px; width: 600px; background-color: #efefef; border: solid 1px #ccc; }
.list_controls { margin-top: -20px; padding: 10px; padding-right: 20px; float: right; }
.list_settings_dialog table { width: 1%; white-space: nowrap; }
.list_settings_dialog table th { font-size: 90%; font-weight: normal; text-align: left; }
.folder_toggle { position: absolute; top: 20px; left: 7px; display: none; }
.folder_toggle img { opacity: .5; }
.next_img { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAM9JREFUOI2dkkEOgjAQRR8uFA9DiJfSa8AZxMjCsxjjISB4Etm0LlrIZBgr8SezaOb/3z/TwhIHoAVewBhrAK5AafBn7IEb4BPlonluiZ+KrCF7D21i3Zwy8HGkeWYr7i8DB5Qb4GSQ1yADjhC2/U8CD/QZ4Zm2X27QBhrjRhzqKJrKMpyqlo1BRKoMoUYl+B2E55BzpUwqxT1D+J5uhYkWO6CYmi3LDVcJsQca6Z4TvqdlYonvwE5HzGMSPY6O3VhiiRK4AD3wjtURFlZo8geE63UUiXP5tgAAAABJRU5ErkJggg==') top left no-repeat; }
.prev_img { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMBJREFUOI2lkkEOgkAMRR8sdDyMId6QO4iBhVeRGA8h0YXxGLAZXEwxk1LIGH/SBbT/zXRamOsANMATGCQeQA0URv1XO+AMjCvhBe4s880wlBL6/1VDrJPLKG9B6rjnNfMSxCNv0iSYlyAnCK+dYrYgHYQxpZo1pM8EsDGKMvU9GjVDDrx/OFnrlQPtH4ALhFF45qPUsrZyPyX1KFMAVZx0hPVMBbTAVhc4uYnVTnztyjLHKggb1gG9xB04xj1P+gCAqG/EiKgzLwAAAABJRU5ErkJggg==') top left no-repeat; }
.prevnext { float: left; width: 16px; height: 16px; opacity: .4; margin-right: 5px; vertical-align: -2px; }
.plink, .nlink { color: #666; }
.plink:hover, .nlink:hover { color: teal !important; }
.limit { width: 50px; margin-left: 20px; }
.settings_subtitle { font-size: 115%; color: #777 !important; letter-spacing: -1px; padding-bottom: 6px !important; padding-left: 0px !important; height: 25px !important; padding-top: 15px !important; }
.server_section img, .settings_subtitle img { opacity: .4; padding-right: 10px; vertical-align: -1px; }
.settings_subtitle, .server_section { cursor: pointer; max-height: 25px; margin-top: 0px; color: #777; padding-bottom: 10px; padding-top: 15px; letter-spacing: -1px; font-size: 115%; padding-left: 30px; }
.list_meta { letter-spacing: 0px; display: inline; color: #999 !important; font-size: 70% !important; vertical-align: 1px; font-style: normal; margin-left: 20px; }
.list_meta b { color: #333 !important; font-weight: normal; padding-left: 5px; padding-right: 5px; vertical-align: 1px; }
.noscript { position: absolute; z-index: 100; right: 0px; left: 0px; top: 0px; bottom: 0px; background-color: #ccc; opacity: 1; padding-top: 100px; text-align: center; }
.hide_folders { float: left; clear: none; margin-top: 10px; margin-left: 23px; }
.hide_folders img { opacity: .4; }
.section_caret { opacity: .15; vertical-align: 4px; padding-right: 10px; }
.server_count { float: right; margin-right: 120px; font-size: 90%; }
.long_text { margin-left: 30px; margin-top: 20px; max-width: 60%; color: #666; }
.all_setting, .unread_setting, .flagged_setting, .general_setting { display: none; }

@media screen and (max-device-width:1080px) and (orientation : portrait) {
    .account_icon { width: 24px; height: 24px; vertical-align: -5px; }
    .list_settings_link, .refresh_list { width: 38px; height: 38px; margin-top: -3px; }
    .folder_toggle img { width: 36px; height: 42px; }
    .folder_toggle{ top: 24px; left: 0px; }
    .folders a { font-size: 125%; }
    .folders li { padding-bottom: 5px; padding-top: 5px; }
    .loading_icon { top: 5px; left: 30px; right: auto; }
    .content_title { padding-left: 35px; }
    .checkbox_cell { padding-left: 15px !important; }
    .folder_list { min-width: 150px; }
    .src_name, .content_title { font-size: 140%; padding-bottom: 15px; padding-top: 15px; max-height: 50px; }
    body { font-size: 150%; }
    .list_controls { padding-right: 10px; }
    .msg_text { font-size: 125%; }
    .msg_text_inner { font-size: 140%; }
    .list_meta { display: none; }
}
@media screen and (max-device-width:1080px) and (orientation : landscape) {
    .account_icon { width: 16px; height: 16px; vertical-align: -5px; }
    .list_settings_link, .refresh_list { width: 24px; height: 24px; }
    .folder_toggle img { width: 24px; height: 24px; }
    .folder_toggle{ top: 16px; left: 0px; }
    .folders a { font-size: 115%; }
    .loading_icon { top: 1px; left: 30px; right: auto; }
    .content_title { padding-left: 35px; }
    .checkbox_cell { padding-left: 15px !important; }
    .folder_list { display: none; width: 340px; }
    .src_name, .content_title { font-size: 125%; max-height: 50px; }
    .list_controls { padding-right: 10px; }
    .msg_text_inner { font-size: 140%; }
}
@media screen and (max-device-width:480px) and (orientation : portrait) {
    .account_icon { width: 24px; height: 24px; padding-bottom: 4px; }
    body { font-size: 90%; min-width: 100%; }
    .list_meta { display: block; }
    .checkbox_cell { padding-right: 0px !important; padding-left: 0px !important; }
    .folder_list { display: none; width: 340px; }
    .content_cell { min-width: 360px; max-width: 480px; word-break: break-all; word-wrap: break-word;}
    .content_title { padding-left: 30px; padding-top: 5px; margin-bottom: 5px; }
    .folder_toggle { display: block; top: 19px; left: 0px; }
    .account_icon { width: 16px; height: 16px; vertical-align: -5px; }
    .message_table { padding-left: 10px !important; }
    .list_settings_link, .refresh_list { width: 24px; height: 24px; vertical-align: -13px; }
    .refresh_list { margin-right: 5px; }
    .folder_toggle img { width: 24px; height: 24px; }
    .update_message_list { margin-right: 20px; }
    .msg_text { max-width: 360px !important; word-break: break-all; word-wrap: break-word; font-size: 100%; }
    .msg_text_inner { font-size: 100%; }
    .header_subject th { max-width: 360px; white-space: normal !important; word-break: break-all; word-wrap: break-word; overflow: visible !important; }
    .msg_headers th { padding-left: 10px !important; }
    .msg_text_inner { padding-left: 10px !important; font-size: 120%; }
    .list_meta { display: none; }
}
.debug {
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .3) 70%);
}
