html { background-color: #fff; overflow-y: scroll; }
a { color: teal; text-decoration: none; }
body { padding: 0px; margin: 0px; font-family: Sans-Serif; width: 100%; background-color: #fff }
h1 { text-shadow: 1px -1px 0px #999; margin: 0px; padding: 0px; font-size: 90px; text-align: left; color: #fff; letter-spacing: -2px; text-align: center; padding-top: 20px; padding-bottom: 20px; }
.selected { color: #333 !important; }
.para {clear: both; max-width: 40em; margin: 0px; margin-left: auto; margin-right: auto; padding: 20px; padding-left: 30px; font-size: 12pt; min-height: 400px; line-height: 20pt; color: #666; margin-top: 20px; padding-bottom: 60px; }
.inner {clear: both; max-width: 40em; margin: 0px; margin-left: auto; margin-right: auto; }
li { margin-bottom: 10px; margin-right: 15px; list-style-type: none; }
.links a { color: #aaa; letter-spacing: 0px; font-variant: small-caps; text-transform: lowercase; font-size: 110%; margin-left: 10px; margin-right: 10px; float: left; margin: 10px; display: block; }
.footer { text-align: center; margin-bottom: 20px; margin-top: 20px; }
.footer a { color: #ccc !important; }
blockquote { font-style: italic; color: #666; }
.homepage_title { font-size: 60pt; text-align: center; color: #666; letter-spacing: -2px; height: 100%; padding: 50px; }
h1 span { margin-right: 2px; vertical-align: -2px; }
.aft { background-color: #bbb; border-radius: 10px 0px 0px 0px }
.for { background-color: #bbb; border-radius: 0px 10px 0px 0px }
ul { margin: 0px; }
ul li:before { margin-left: -2em; color: #aaa; content: '\229A'; padding-right: 1em; }
.para a { color: #111 !important; }
.e_hl { color: #999; }
.screenshot { max-width: 100%; box-shadow: 5px 5px 7px #ccc; border: solid 1px #ddd; }
.caption { text-align: center; padding-bottom: 15px; font-size: 90%; font-style: italic; }
h3 { margin: 10px; margin-left: 0px; margin-top: 30px; padding: 0px; }
.top { margin-top: 0px !important; }
.logo { color: #fff; }
pre { padding: 10px; font-size: 12px; line-height: 12px; background-color: #f5f5f5; }
.issue_link { float: right; }
