html { background-color: #fff; overflow-y: scroll; }
a { color: teal; text-decoration: none; }
body { padding: 0px; margin: 0px; font-family: Sans-Serif; width: 100%; background-color: #fff }
h1 { text-shadow: 1px -1px 1px #888; margin: 0px; padding: 0px; font-size: 90px; text-align: left; color: #fff; letter-spacing: -2px; text-align: center; padding-top: 20px; padding-bottom: 20px; }
.selected { color: #333 !important; }
.para {clear: both; max-width: 40em; border-left: dashed 1px #ddd; border-right: dashed 1px #ddd; margin: 0px; margin-left: auto; margin-right: auto; padding: 20px; padding-left: 30px; font-size: 12pt; min-height: 400px; line-height: 20pt; color: #666; margin-top: 20px; }
li { margin-bottom: 10px; margin-right: 15px; list-style-type: none; }
.links a { color: #aaa; letter-spacing: 0px; font-variant: small-caps; text-transform: lowercase; font-size: 110%; margin-right: 5px; margin-left: 5px; }
.footer { text-align: center; margin-bottom: 20px; margin-top: 20px; }
.footer a { color: #ccc !important; }
blockquote { font-style: italic; color: #666; }
.homepage_title { font-size: 60pt; text-align: center; color: #666; letter-spacing: -2px; height: 100%; padding: 50px; }
h1 span { margin-right: 2px; vertical-align: -2px; }
.inner { padding: 0px; background-color: #fff; }
.links { text-shadow: none; text-align: left; padding: 0px; padding-top: 5px; text-align: center; font-size: 14pt; font-weight: normal; }
.aft { background-color: #bbb; border-radius: 10px 0px 0px 0px }
.for { background-color: #bbb; border-radius: 0px 10px 0px 0px }
ul { margin: 0px; }
ul li:before { margin-left: -2em; color: #aaa; content: '\229A'; padding-right: 1em; }
.para a { color: #111 !important; }
.e_hl { color: #999; }
