name: Build Daily Image

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build-and-push:
    if: github.repository_owner == 'cypht-org'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6,linux/386

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6,linux/386
          push: true
          tags: cypht/cypht:daily
          cache-from: type=registry,ref=cypht/cypht:buildcache
          cache-to: type=registry,ref=cypht/cypht:buildcache,mode=max

      - name: Log out from Docker Hub
        run: docker logout